.title {
    font-family: 'Noto Serif', serif;
    font-size: 48px;
    max-width: 20%;
    width: 20%;
    text-align: center;
    padding-left: 3rem;
}
.bar {
    max-width: 100%;
    color: white;
}
.links {
    max-width: 80%;
    width: 80%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
a {
    color: white;
    text-decoration: none;
    width: 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    flex-basis: 150px;

}
.active{
    font-weight: 500;
}
.active::after {
    content: " ";
    display: block;
    width: 74px;
    height: 10px;

    background: #EFEEEE;
    border-radius: 25px;

    margin-left: 18%;
}