.main-text {
    position: absolute;
    width: 364px;
    height: 186px;
    left: 131px;
    top: 357px;

    font-family: Ubuntu Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    text-align: center;

    color: #CADAD5;
}